{% extends 'base.html.twig' %}

{% block title %}All Companies
{% endblock %}

{% block body %}
	{% include 'navbar.html.twig' %}
	<div class="container mt-4">
		<h1 class="mb-4">Les Entreprises</h1>
		<div class="mt-4 mb-4">
			<span>Ajouter une Entreprise :
			</span>
			<a href="{{ path('company.add') }}" class="btn btn-success btn-sm">Ajouter</a>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead class="table-primary">
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Responsable</th>
						<th scope="col">Matricule Fiscle</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for company in companies %}
						<tr>
							<td>{{ company.nom }}</td>
							{% if (company.companyUser is not null) %}
								<td>{{ company.companyUser.nom }}</td>
							{% else %}
								<td>Non attribué</td>
							{% endif %}
							<td>{{ company.matriculeFiscale }}</td>
							<td>
								<a href="{{ path('company.edit', {'id': company.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
								<a href="{{ path('company.delete', {'id': company.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4" class="text-center text-muted">Aucune entreprise trouvée.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

